*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-image: url(https://img1.goodfon.ru/wallpaper/nbig/0/c8/devushka-beg-sport-5578.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.container {
    background-color: rgb(174, 231, 181);
    width: 1100px;
    border-radius: 20px;
    margin: 80px auto;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 350px;
    background-image: url(https://cdn-images.farfetch-contents.com/16/07/07/00/16070700_30291067_600.jpg);
    background-size: 100%;
    background-position: 0% 160%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.card__info {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 700;
   
    text-align: center;
    transition: 3s;
}
.card:hover .card__info{
    letter-spacing: 10px;
}
.card__text {
    text-align: center;
    background-color: rgb(229, 80, 80);
    color: #fff;
    width: 300px;
    font-size: 20px;
    font-weight: 100;
    transition: 3s;
}
.card:hover .card__text{
    width: 180px;
    background-color: rgb(137, 27, 27);
    border-radius: 10px;
}
.card__button {
    background-color: rgb(212, 69, 69);
    padding: 10px 20px;
    color: #fff;
    transition: 0.4s;
    font-size: 20px;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1px;
}
.card__button:hover{
    background-color: #000;
    cursor: pointer;
}
.card__button:active{
    background-color: rgb(59, 57, 57);
    padding: 8px 18px;
}
.card__footer {
    background-color: rgb(21, 21, 21);
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s;
}
.card:hover .card__footer{
    padding: 0 70px;
}
.card__sercvices-1 {
    width: 35px;
    height: 35px;
    background-image: url(https://cdn2.downdetector.com/static/uploads/logo/FB-f-Logo__blue_512.png);
    border-radius: 50%;
    background-size: cover;
}
.card__sercvices-2 {
    width: 35px;
    height: 35px;
    background-image: url(https://www.instagram.com/static/images/ico/favicon-200.png/ab6eff595bb1.png);
    border-radius: 50%;
    background-size: cover;
}
.card-2 {
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(rgb(54, 39, 88), rgb(87, 70, 129), rgb(155, 138, 195));
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.card-2:hover{
    background: linear-gradient(rgb(218, 214, 228), rgb(175, 162, 209), rgb(245, 244, 247));
}
.card-2__info {
    order: 1;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 1px 3px #000;
}
.card-2__image {
    width: 150px;
    height: 150px;
    background-image: url(https://spraytown.com.ua/wp-content/uploads/2021/01/Reebok-Zig-Kinetica-Concept.jpg);
    background-size: cover;
    border-radius: 50%;
}

.card-3 {
    width: 300px;
    height: 350px;
    background-image: url(https://img.championat.com/s/735x490/news/big/e/j/adidas-snova-suditsya-s-nike_16559073251982199241.jpg);
    background-size: cover;
    background-position: 50% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition:  0.6s;
}
.card-3:hover{
    background-size: cover;
    background-position: 50% 0;
    background-image: url(https://pbs.twimg.com/profile_images/1564299301123137545/d1yZqve6_400x400.png);
}
.card-3__info {
    display: flex;
    justify-content: space-between;
}
.card-3:hover .card-3__name{
    background-color: rgb(246, 24, 24);
    color: #fff;
    border-radius: 20px;
}
.card-3:hover .card-3__price{
    background-color: rgb(246, 24, 24);
    color: #fff;
    text-decoration: line-through;
    border-radius: 20px;
}
.card-3__name {
    padding: 20px 30px;
    text-transform: uppercase;
    background-color: #fff;
    transition: 1s;
    transition-delay: 0.4s;
}
.card-3__price {
    background-color: #fff;;
    padding: 20px 30px;
    transition: 1s;
}
.card-3:hover .card-3__image{
    opacity: 0;
    pointer-events:none; 
}
.card-3__image {
    width: 100px;
    height: 100px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTxBZQaxNPzRLSh1gOS3pqAc7AGalWeHdUbA&usqp=CAU);
    background-size: cover;
    margin: 0 auto;
    border-radius: 50%;
}
.card-3__image-2 {
    width: 100px;
    height: 30px;
    background-color: #fff;
    transition: 0.7s;
    color: #000;
    text-align: center;
    line-height: 27px;
    border-radius: 20px;
}
.card-3:hover .card-3__image-2{
    width: 100%;
    background-color: rgb(246, 24, 24);
    color: #fff;
}

.card-3__button {
}
.card-4, .card-5, .card-6{
    width: 300px;
    height: 350px;
    margin: 40px 0;
}
.card-4{
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    border-radius: 25px;
}
.card-4__header {
    background:linear-gradient(to right, rgb(241, 71, 28), rgb(244, 20, 16));
    border-radius: 25px 25px 0 0;
    height: 55%;
}
.header__information {
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
}
.nike {
    width: 50px;
}
.header__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
}
.header__text {
    font-size: 12px;
    margin: 10px 0;
}
.header__image {
    height: 50%;
}
.picture{
    width: 300px;
    position: absolute;
    left:150px;
    bottom: 220px;
}
.fast {
    font-size: 120px;
    color: rgba(0, 0, 0, 0.257);
    font-weight: 700;
    text-transform: uppercase;
}
.card-4__footer {
}



